.main-svg {
    position: fixed;
    left: 0;
    height: 1000px;
    width: 80%;
    border: 1px solid #999;
}

.detail-bar {
    width: 20%;
    float: right;
}

.edge rect {
    fill: #fff
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.node {
    cursor: pointer;
}

.node > rect {
    stroke-width: 1px;
    stroke: #333;
    fill: none;
    opacity: 0.5;
}

g {
    pointer-events: all;
}

.expand-toggle {
    display: inline-block;
    margin-left: 8px;
    max-height: 100%;
}

.expanded-img {
    background-color: #ff0040;
}

.collapsed-img {
    background-color: #b3ffa1;
}

.sci-name-element {
    color: #000000;
    display: inline-block;
}

.selected-node > rect {
    stroke-width: 3px;
    stroke: #49a0d4;
}

.foot {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}