.main-svg {
    position: fixed;
    left: 0;
    height: 1000px;
    width: 100%;
    border: 1px solid #999;
}

.edge rect {
    fill: #fff
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.node > rect {
    stroke-width: 1px;
    stroke: #333;
    fill: none;
    opacity: 0.5;
}

g {
    pointer-events: all;
}

.node {
}

.expand-toggle {
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
    max-height:100%;
}

.expanded-img {
    background-color: #ff0040;
}

.collapsed-img {
    background-color: #b3ffa1;
}

.sci-name-element {
    display: inline-block;
}
